<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rainer Soundboard! THIS IS CAGE</title>
    <script type="text/javascript" src="js/jquery.min.js"></script>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body style="background-image: url('rainer.jpg');">
    <div class="container">

      <div class="page-header">
        <h1>Listen to Rainer</h1>
        <p class="lead">The man.</p>
      </div>

      <% sound_file_names.each do |sound| %>
        <audio id="<%= sound_id(sound) %>" preload="auto">
          <source src="<%= sound %>" type="audio/mpeg"></source>
          <source src="rainer_sounds.ogg" type="audio/ogg"></source>
        </audio>

        <button id="<%= button_id(sound_id(sound)) %>" style="display: hidden; margin-top: 8px" type="button" class="btn btn-lg btn-info">Hear Rainer</button>
      <% end %>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>

    <script type="text/javascript">
      $(document).ready(function() {
        <% sound_ids.each do |sound_id| %>
          $('#<%= sound_id %>').on('canplaythrough', function() {
            console.log("Ok! Showing <%= button_id(sound_id) %>")
            $('#<%= button_id(sound_id) %>').show();
          });

          $('#<%= button_id(sound_id) %>').click(function() {
            console.log("Attempting to play <%= sound_id %>")
            $('#<%= sound_id %>')[0].play();
          });
        <% end %>
      });
    </script>
  </body>
</html>